<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="site">
    <div class = "navbar">
        <div class = "home_div" onclick="location.href='index.php';" style="cursor: pointer;">
            <h1>Home</h1>
        </div>
        <div class = "dayinlife_div" onclick="location.href='../my_life/my_life.php';" style="cursor: pointer;">
            <h1>My life</h1>
        </div>
        <div class = "schoolwerk_div" onclick="location.href='../school/school.php';" style="cursor: pointer;">
            <h1>School</h1>
        </div>
        <div class = "portfolio_div" onclick="location.href='../portfolio/portfolio.php';" style="cursor: pointer;">
            <h1>Portfolio</h1>
        </div>
        <div class = "downloads_div" onclick="location.href='../downloads/downloads.php';" style="cursor: pointer;">
            <h1>Downloads</h1>
        </div>
        <div class = "socialmedia_div" onclick="location.href='../social_media/social_media.php';" style="cursor: pointer;">
            <h1>Social media</h1>
        </div>
        <div class = "contact_div" onclick="location.href='../contact/contact.php';" style="cursor: pointer;">
            <h1>Contact</h1>
        </div>
    </div>
    <div class = "titlediv">
        <h1 class = "titletext">Pim Hakkert</h1>
    </div>
    <div class = "welcome_div">
        <h1 class = "welcome_text">Welcome to</h1>
        <h2 class = "welcome2_text">my personal website</h2>
    </div>
    <div class = "about_div">
        <h1 class = "about_text">About me</h1>
        <h2 class = "about_text2">My name is Pim Hakkert and I'm a student in the MBO 4 course of Game- / Media-development. I aspire to be a full time web developer by the end of this course.
            This website was created as my first project in my first year of the course. Every single line of HTML, CSS, JavaScript and PHP is written by hand to showcase my skills.
            The contents of this website go beyond front end development. We had to include a Content Management System, so I decided to start from zero and I learned basic PHP to help me create a working CMS.
            My hopes are that by viewing this website, you are interested in hiring me for your future projects. To see a good example of my skillset, please visit the "portfolio" page.</h2>
    </div>
</div>
<footer>
    <div class="footer_div">
        <h1 class = "footer_text">Copyright © by Pim Hakkert - 2018</h1>
    </div>
</footer>
</body>
</html>
